<div class="page store">
        <div class="page-head lyt-p24">
            <a href="album/" class="nav-item nav-back">
                <img src="src/images/icons/left-arrow.svg" alt="back">
            </a>
            <h1 class="nav-item title">Album Title</h1>
            

                <a href="store.search.html" class="nav-item nav-back search">
                    <img src="src/images/icons/search.svg" alt="back">
                </a>
            
        </div>
        <div class="page-container">
            
            <div class="page-content ">
                <div class="post">

                    <div class="head lyt-p24">
                        <div class="artwork">
                            <img src="src/images/post/pic2.png" alt="">
                        </div>
                        <div class="info">
                            <h2 class="name">
                                <span>Star Boy</span>
                            </h2>
                            <div class="artist">
                                <span>Wiz Kid</span>
                            </div>
                            <div class="date">
                                <span>Date :</span>
                                <span>01/04/2019</span>
                            </div>
                        </div>
                    </div>
                    <div class="plist lyt-p24">
                        <ul>
                            <li class="element">
                                
                                    <a href="#" class="link">

                                        <span class="n">1</span>
                                        <span class="title">Star Boy- Wiz Kid </span>
                                    </a>
                                
                                
                                    <a href="#" class="actions">
                                        <img src="src/images/icons/menu-v.svg" alt="actions">
                                    </a>
                                
                            </li>
                            <li class="element">
                                
                                    <a href="#" class="link">

                                        <span class="n">2</span>
                                        <span class="title">Oluwa lopkè- Wiz Kid </span>
                                    </a>
                                
                                
                                    <a href="#" class="actions">
                                        <img src="src/images/icons/menu-v.svg" alt="actions">
                                    </a>
                                
                            </li>
                            <li class="element">
                                
                                    <a href="#" class="link">

                                        <span class="n">3</span>
                                        <span class="title">Love me one day- Wiz Kid </span>
                                    </a>
                                
                                
                                    <a href="#" class="actions">
                                        <img src="src/images/icons/menu-v.svg" alt="actions">
                                    </a>
                                
                            </li>
                        </ul>
                    </div>
                    <div class="prvw ">
                        <div class="head lyt-p24">
                            <h3 class="rtitle ">Reviews</h3>
                            
                            <div class="ravn">
                                <span>4.2/5 </span>
                                <span>(20)</span>
                            </div>
                        </div>
                        <div class="reviews lyt-p24">
                            <ul class="rlist">
                                <li class="element">
                                    <div class="avatar">
                                        <img src="src/images/users/image-156.png" alt="user-name">
                                    </div>
                                    <div class="content">
                                        <div class="rn">
                                            <div class="user-name">
                                                <span>John Doe</span>
                                            </div>
                                            <div class="rate is-good">
                                                <span>4/5</span>
                                            </div>
                                        </div>
                                        
                                        <div class="comment">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                            Sapiente pariatur accusamus dignissimos, consequatur, 
                                            enim voluptatem debitis modi similique error incidunt laborum maxime delectus.
                                             
                                        </div>
                                        <div class="date">
                                            01/05/2019
                                        </div>
                                    </div>
                                </li>
                                <li class="element">
                                    <div class="avatar">
                                        <img src="src/images/users/image-205.png" alt="user-name">
                                    </div>
                                    <div class="content">
                                        <div class="rn">
                                            <div class="user-name">
                                                <span>Will Golde</span>
                                            </div>
                                            <div class="rate ">
                                                <span>1/5</span>
                                            </div>
                                        </div>
                                        
                                        <div class="comment">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                            Sapiente pariatur accusamus dignissimos, consequatur.
                                        </div>
                                        <div class="date">
                                            01/05/2019
                                        </div>
                                    </div>
                                </li>
                                <li class="element">
                                    <div class="avatar">
                                        <img src="src/images/users/image-211.png" alt="user-name">
                                    </div>
                                    <div class="content">
                                        <div class="rn">
                                            <div class="user-name">
                                                <span>Justine France</span>
                                            </div>
                                            <div class="rate is-good">
                                                <span>4/5</span>
                                            </div>
                                        </div>
                                        
                                        <div class="comment">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                            Sapiente pariatur accusamus dignissimos, consequatur.
                                        </div>
                                        <div class="date">
                                            01/05/2019
                                        </div>
                                    </div>
                                </li>
                                <li class="element">
                                    <div class="avatar">
                                        <img src="src/images/users/image-231.png" alt="user-name">
                                    </div>
                                    <div class="content">
                                        <div class="rn">
                                            <div class="user-name">
                                                <span>Frank Galager</span>
                                            </div>
                                            <div class="rate ">
                                                <span>2/5</span>
                                            </div>
                                        </div>
                                        
                                        <div class="comment">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing .
                                        </div>
                                        <div class="date">
                                            01/05/2019
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                
                
            </div>
            <div class="page-footer lyt-p24">
                <div class="player ">
                    <div class="ply-sm">
                        <div class="ply-artwork">
                            <img src="src/images/post/pic2.png" alt="">
                        </div>
                        <div class="ply-cmds">
                            <div class="ply-name">
                                <span>Song Title</span>
                                <span class="tx-gray">Artist Name</span>
                            </div>
                            <div class="ply-prog">
                                <div class="ply-prog-bar"></div>
                                <div class="ply-prog-cur"></div>
                            </div>
                            <div class="ply-timer">
                                <span class="play-t-cur">05</span>
                                <span class="play-t-count">30</span>
                            </div>
                        </div>
                        <div class="ply-btns">
                            <div class="ply-play ply-btn">
                                <img src="src/images/icons/play.svg" alt="Play" class="icon ">
                            </div>
                            <div class="ply-stop ply-btn">
                                    <img src="src/images/icons/stop.svg" alt="Stop" class="icon ">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>