<div class="page store">
            <div class="page-head lyt-p24">
                <a href="/" class="nav-item nav-back">
                    <img src="src/images/icons/left-arrow.svg" alt="back">
                </a>
                <h1 class="nav-item title">Albums</h1>
                

                    <a href="store.search.html" class="nav-item nav-back search">
                        <img src="src/images/icons/search.svg" alt="back">
                    </a>
                
            </div>
            <div class="page-container">
                
                <div class="page-content lyt-p24">
                    
                    <div class="list">
                        
                        <ul class="list-container">
                            <li class="list-element animated fadeinout" ng-repeat="elemnt in elements" style="animation-delay: 0.2{{$index}}s;">
                                <a href="album/{{elemnt.id}}">

                                    <span class="art-work is-block">
                                        <img src="{{elemnt.artwork}}" alt="">
                                    </span>
                                    <span class="name is-block"><span>{{elemnt.name}}</span></span>
                                    <span class="authors is-block"><span>{{elemnt.artist}}</span></span>
                                </a>
                            </li>                            
                        </ul>
                    </div>
                    <a href="#" class="button is-primary" ng-click="loadMore()">Load More</a>
                    
                    
                </div>
                <div class="page-footer lyt-p24">
                    <div class="player ">
                        <div class="ply-sm">
                            <div class="ply-artwork">
                                <img src="src/images/post/pic4.png" alt="">
                            </div>
                            <div class="ply-cmds">
                                <div class="ply-name">
                                    <span>Song Title</span>
                                    <span class="tx-gray">Artist Name</span>
                                </div>
                                <div class="ply-prog">
                                    <div class="ply-prog-bar"></div>
                                    <div class="ply-prog-cur"></div>
                                </div>
                                <div class="ply-timer">
                                    <span class="play-t-cur">05</span>
                                    <span class="play-t-count">30</span>
                                </div>
                            </div>
                            <div class="ply-btns">
                                <div class="ply-play ply-btn">
                                    <img src="src/images/icons/play.svg" alt="Play" class="icon ">
                                </div>
                                <div class="ply-stop ply-btn">
                                        <img src="src/images/icons/stop.svg" alt="Stop" class="icon ">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>