
        <div class="page store">
            <div class="page-head lyt-p24">
                <a  class="nav-item nav-back" ng-click="menu.open()">
                    <img src="src/images/icons/menu.svg" alt="back">
                </a>
                <h1 class="nav-item title">Store</h1>
                

                    <a href="/search" class="nav-item nav-back search">
                        <img src="src/images/icons/search.svg" alt="back">
                    </a>
                
            </div>
            <div class="page-container">
                
                <div class="page-content lyt-p24">
                    
                    <div class="list">
                        <div class="list-title">
                            <h2>New Singles</h2>
                            <a href="/single">View all</a>
                        </div>
                        <ul class="list-container">
                            <li class="list-element" ng-repeat="elemnt in singles">
                                <a href="single/{{elemnt.id}}">

                                    <span class="art-work is-block">
                                        
                                        <img ng-src="{{elemnt.artwork}}" src="src/images/holder.png" alt="{{elemnt.id}}">
                                    </span>
                                    <span class="name is-block"><span>{{elemnt.name}}</span></span>
                                    <span class="authors is-block"><span>{{elemnt.artist}}</span></span>
                                </a>
                            </li>
                                                     
                            
                            
                        </ul>
                    </div>
                    <div class="list">
                        <div class="list-title">
                            <h2>New Albums</h2>
                            <a href="/album">View all</a>
                        </div>
                        <ul class="list-container">
                            <li class="list-element" ng-repeat="elemnt in albums">
                                <a href="album/{{elemnt.id}}">

                                    <span class="art-work is-block">
                                        <img ng-src="{{elemnt.artwork}}" src="src/images/holder.png" alt="{{elemnt.id}}">
                                    </span>
                                    <span class="name is-block"><span>{{elemnt.name}}</span></span>
                                    <span class="authors is-block"><span>{{elemnt.artist}}</span></span>
                                </a>
                            </li>
                            
                            
                            
                        </ul>
                    </div>
                    
                    
                </div>
                <div class="page-footer lyt-p24">
                    <div class="player ">
                        <div class="ply-sm">
                            <div class="ply-artwork">
                                <img src="src/images/post/pic5.png" alt="">
                            </div>
                            <div class="ply-cmds">
                                <div class="ply-name">
                                    <span>Song Title</span>
                                    <span class="tx-gray">Artist Name</span>
                                </div>
                                <div class="ply-prog">
                                    <div class="ply-prog-bar"></div>
                                    <div class="ply-prog-cur"></div>
                                </div>
                                <div class="ply-timer">
                                    <span class="play-t-cur">05</span>
                                    <span class="play-t-count">30</span>
                                </div>
                            </div>
                            <div class="ply-btns">
                                <div class="ply-play ply-btn">
                                    <img src="src/images/icons/play.svg" alt="Play" class="icon ">
                                </div>
                                <div class="ply-stop ply-btn">
                                        <img src="src/images/icons/stop.svg" alt="Stop" class="icon ">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="page store menu animated slideInOutLeft" ng-if="menu.opened">
            <div class="page-head lyt-p24">
                
                <a  class="nav-item nav-back close" ng-click="menu.close()">
                    <img src="src/images/icons/close.svg" alt="back">
                </a>
                
            </div>
            <div class="page-content lyt-p24">
                <div class="mtitle">
                    MENU
                </div>
                <ul class="mlist">
                    <li ><a class="mlink" href="/">Store</a></li>
                    <li><a class="mlink" href="/single">Singles</a></li>
                    <li><a class="mlink" href="/album">Albums</a></li>
                    <li><a class="mlink" href="/cart">Cart</a></li>
                    <li><a class="mlink" href="/musics">My Musics</a></li>
                    <li><a class="mlink" href="/settings">Settings</a></li>
                </ul>
                <form action="index.html">
                        <input type="submit" class="hidden" id="submit">
                        
                    </form>
                
                
                
            </div>
            <div class="page-footer">
               
                    <label for="submit" class="button is-primary  is-bigbuton">
                        Logout
                    </label>
          
            </div>
        </div>
    
