<div class="page store menu animated slideInOutLeft" ng-if="menu.opened">
            <div class="page-head lyt-p24">
                
                <a  class="nav-item nav-back close" ng-click="menu.close()">
                    <img src="src/images/icons/close.svg" alt="back">
                </a>
                
            </div>
            <div class="page-content lyt-p24">
                <div class="mtitle">
                    MENU
                </div>
                <ul class="mlist">
                    <li ><a class="mlink" href="/">Store</a></li>
                    <li><a class="mlink" href="/single">Singles</a></li>
                    <li><a class="mlink" href="/album">Albums</a></li>
                    <li><a class="mlink" href="/cart">Cart</a></li>
                    <li><a class="mlink" href="/musics">My Musics</a></li>
                    <li><a class="mlink" href="/settings">Settings</a></li>
                </ul>
                <form action="index.html">
                        <input type="submit" class="hidden" id="submit">
                        
                    </form>
                
                
                
            </div>
            <div class="page-footer">
               
                    <label for="submit" class="button is-primary  is-bigbuton">
                        Logout
                    </label>
          
            </div>
        </div>