<div class="page store">
    <div class="page-head lyt-p24">
        <a href="/" class="nav-item nav-back">
            <img src="src/images/icons/left-arrow.svg" alt="back">
        </a>
        <h1 class="nav-item title">Search</h1>
        

            
        
    </div>
    <div class="page-container">
        
        <div class="page-content ">
            <div class="search-form lyt-p24"">

                <form class="form" action="/search">
                    <div class="field">
                        <div class="control">
                            <input type="text" class="input" placeholder="Type your search here!!">
                        </div>
                        <div class="control">
                            <button class="submit hidden" id="submit"><img src="src/images/icons/search.svg" alt="search"></button>
                        </div>
                    </div>
                </form>
            </div>
            
            
            
        </div>
        <div class="page-footer">
            <label for="submit" class="button  is-primary  is-bigbuton">
                    <svg class="icon is-32 is-white" enable-background="new 0 0 551.13 551.13" height="512" viewBox="0 0 551.13 551.13" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m551.13 526.776-186.785-186.785c30.506-36.023 49.003-82.523 49.003-133.317 0-113.967-92.708-206.674-206.674-206.674s-206.674 92.707-206.674 206.674 92.707 206.674 206.674 206.674c50.794 0 97.294-18.497 133.317-49.003l186.785 186.785s24.354-24.354 24.354-24.354zm-344.456-147.874c-94.961 0-172.228-77.267-172.228-172.228s77.267-172.228 172.228-172.228 172.228 77.267 172.228 172.228-77.267 172.228-172.228 172.228z"/></svg>
                 
            </label>
        </div>
    </div>
</div>