@import "mixins/_mixins.scss";
.mainhome {
  background-image: url('../images/bkg1.png');
  background-size: cover;

  .home-overlay {
    height: 100%;
    width: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to botom, rgba(0, 0,0, 0.8), rgba(255, 255, 255, 3));

    .p1 {
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -30px;

        div:first-child {
          font-size: 8rem;
          color: #fff;
        }

        div:nth-child(2) {
          font-size: 80px;
          color: #fff;
        }
      }

      .modo {
        color: #fff;
        text-align: right;
        font-size: 2rem;
      }
    }

    .p2 {
      .button {
        margin: 15px;
      }
    }
  }
}
