@import "mixins/_mixins.scss";

.store {
  .list {
    .list-title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        margin: 0 0 10px 0;
      }

      a {
        color: $gray;
      }
    }

    .list-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .list-element {
        width: 48%;
        max-width: 260px;
        margin-bottom: 30px;

        .art-work {
          margin-bottom: 10px;
          border-radius: 10px;
          overflow: hidden;
        }

        .name {
          font-size: 18px;
          margin-bottom: 5px;
        }

        .authors {
          color: $gray;
        }
      }
    }
  }

  .post {
    .head {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 30px;

      .artwork {
        margin-right: 30px;
        max-width: 150px;
        border-radius: 10px;
        overflow: hidden;
      }

      .info {
        .name {
          margin: 0;
          margin-bottom: 24px;
          font-size: 2em;
        }

        .artist {
          margin-bottom: 16px;
          color: $gray;
          font-size: 16px;
        }

        .date {
          color: $gray;
          font-size: 12px;
        }
      }
    }

    .plist {
      margin-bottom: 48px;

      .element {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        border-bottom: 1px solid $light;
        padding-bottom: 5px;

        .link {
          font-size: 16px;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          height: 26px;
          overflow: hidden;
          line-height: 26px;

          .title {
            color: #000;
          }

          .n {
            width: 50px;
            display: inline-block;
          }
        }

        .price {
          margin-left: auto;
          margin-right: 15px;
          font-size: 16px;
        }

        .actions {
          img {
            height: 26px;
          }
        }

        .actions.close {
          img {
            height: 16px;
          }
        }

        .actions.download {
          background-color: $primary;
          padding: 5px 15px;
          border-radius: 10px;

          img {
            height: 16px;
          }
        }
      }
    }

    .cartsum {
      margin-left: auto;

      .top {
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
      }
    }

    .prvw {
      .head {
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid $light;

        .rtitle {
          font-size: 1.5rem;
          color: $gray;
          padding: 10px;
          margin: 0;
        }

        .ravn {
          font-size: 13px;
          color: $primary;
        }
      }

      .reviews {
        padding-bottom: 5rem;

        .rlist {
          .element {
            display: flex;
            align-items: flex-start;
            margin-bottom: 16px;

            .avatar {
              width: 50px;
              padding: 5px;
              margin-right: 10px;

              img {
                border-radius: 50%;
              }
            }

            .content {
              flex: 1;
              border: 1px solid $light;
              border-radius: 10px;
              padding: 15px;
              background: rgba(200, 200, 200, 0.05);

              .rn {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .user-name {
                  font-size: 14px;
                  margin-bottom: 10px;
                }

                .rate {
                  font-size: 18px;
                  font-weight: 800;
                  margin-bottom: 5px;
                  color: $danger;
                }

                .rate.is-good {
                  color: $primary;
                }
              }

              .comment {
                margin-bottom: 10px;
                line-height: 20px;
                font-size: 13px;
              }

              .date {
                color: $gray;
                text-align: right;
              }
            }
          }
        }
      }
    }
  }

  .search-form {
    .field {
      position: relative;
    }
  }

  .srch-rslt {
    .srch-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $light;

      .snbr {
        color: $gray;
      }
    }

    .srchLst {
      .srelmt {
        .srelmt-link {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          font-size: 14px;
          padding-bottom: 5px;
          border-bottom: 1px solid $light;
          margin-bottom: 10px;

          .artwork {
            margin-right: 30px;

            .srch-img {
              width: 48px;
              border-radius: 10px;
            }
          }

          .authors {
            color: $gray;
            font-size: 14px;
          }

          .srch-date {
            color: $gray;
            display: block;
            font-size: 12px;
            margin-top: 8px;
          }
        }
      }
    }
  }

  .ckt-opts {
    .chkt-elt {
      height: 100px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primary;
      font-size: 1.5rem;
      font-weight: 800;
      color: $white;
    }

    .chkt-elt.is-disabled {
      background-color: $light;
      color: $gray;
    }
  }

  .chkt-sum {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 32px;
  }

  .downblk {
    width: 160px;
    margin: auto;
    font-size: 1rem;
  }

  .player {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ply-sm {
      flex: 1;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .ply-artwork {
        width: 50px;
        height: 50px;
      }

      .ply-cmds {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        margin: 0 15px;

        .ply-name {
          margin-bottom: 7px;
        }

        .ply-prog {
          width: 100%;
          height: 5px;
          background: $gray;
          margin-bottom: 7px;
          position: relative;
          border-radius: 10px;

          .ply-prog-bar {
            border-radius: 10px;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 30%;
            background: $primary;
          }
        }

        .ply-timer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: $gray;
        }
      }

      .ply-btns {
        width: 32px;
        height: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .ply-btn {
          cursor: pointer;

          .icon {
            width: 32px;
            height: 32px;
          }
        }


        .ply-stop {
          display: none;
        }
      }
    }
  }

  .player.playing {
    .ply-sm {
      .ply-btns {
        .ply-play {
          display: none;
        }

        .ply-stop {
          display: block;
        }
      }
    }
  }

  .page-footer {
    .player {
      height: 68px;
    }
  }
}
